@charset "utf-8";
/* CSS Document */

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	 scroll-behavior: smooth;
}

@font-face{
	font-family: 'Josefin Sans', sans-serif;
}

body {
	font-family: Josefin Sans;
}



/*NAV with GRID*/


.logo-text{
	font-family: 'Marck Script', cursive;
	font-size: 5vh;
	
}


 .nav {
	width: 100%;
	min-height: 10vh;
	padding: 20px 0;
	background-color: #090C02;
	color: white;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-areas: 
		"logo-guitar bandName menuLinks";
	align-items: center;
	margin-bottom: 4%;
	 

}

header {
	position: sticky;
	top: 0;
	z-index: 1;
	

}



.nav .logo {
	display: flex;
	justify-content: center;
	align-items: center;
		top: 20px;
}



/*Need to shift this thing somewhere, where it would be attached to logo*/
.nav .logo img {
    width:70px;
    height:70px;
    overflow:hidden;

}


.menu li{
	display: inline;
}

.menu {
	display: flex;
	width: 40%;
	justify-content: space-around;
	position: relative;
	left: 35%;
	flex-direction: row;
	top: 15%;
	align-items: center;


}

.menu a {
	color:rgb(226,226,226);
	text-decoration: none;
	letter: 3px;
	font-weight: regular;
	font-size: 3vh;
}


.cool-link {
	
	border-bottom: 2px solid red;
	padding-bottom: 5px;
	
}

/*.cool-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: red;
	transition: width .3s;
}*/

/*.cool-link:hover::after{
	width: 100%;
	transition: width .3s;
}*/


/* NAV with GRID - END*/


#home{
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-areas: 
		"greeting-text title-img"
		"platform-promo title-img";
	align-items: center;
	margin: 6% 4% 4% 0;
}

.title-img {
	grid-area: title-img;
	display: flex;
	flex-direction: row;
	justify-content: center;

	
}

.title-img img {
	width: 85%;
	margin: 2% 0 0 0;
	
}

.content-wrapper{
	width: 105%;
	margin-top: -20%;
}

.greeting-text {
	grid-area: greeting-text;
	width: 120%;
	height: 120%;
	position: relative;
	margin-top: -38.5%;
	margin-left: -7.8%;
}

.greeting-text h1 {
	font-size: 5vw;
	text-align: end;
	
}

.greeting-text p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 40%;
	margin-top: 6%;
	font-size: 3vh;
}


.content-wrapper img{
	position: relative; 
  	width: 110%;
	overflow: hidden;
}
	

.platform-promo{
	
	wdith: 120%;
	grid-area: platform-promo;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 30% 70%;
	justify-content: center;
	justify-items:center;	
	align-items: center;
	margin-top: 8%;
	margin-left:10%;
	
	
	
}
.platform-promo p {
	grid-column: 1/5;
	font-size: 3.5vh;
	font-weight: 600;
	position: relative;
	margin: 2vw 3vw;

	
}


.platform-promo img {
	max-height: 50px;
}


#spotify-button {
	grid-column: 1/2;
	grid-row: 2/3;
	
}

#youtube-button {
	grid-column: 2/3;
	grid-row: 2/3;
	
}

#youtube-button:hover {
	
}

#soundcloud-button {
	grid-column: 3/4;
	grid-row: 2/3;
}

#vine-button {
	grid-column: 4/5;
	grid-row: 2/3;
}



#story {
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-areas: 
		"inside-studio  story-text"
		"inside-studio  tangled-cords";
	align-items: center;
	justify-content: center;
	margin: 4% 2% 4% 8%;

	position: 
		relative;

}

.tangled-cords{
	grid-area: tangled-cords;
	width: 100%;

	position: relative;
	right: 10vw;
	margin-left: -3vw;
	
}
.inside-studio {
	grid-area: inside-studio;
	width: 100%;

	position: relative;
	right: 10vw;
	bottom: 20vh;
}

.inside-studio img {
	width: 120%;
	
}

.story-text {
	grid-area: story-text;
	width: 90%;

	position: relative;
	right: 10vw;
	top: 10vh;
}

.story-text h1 {
	font-size: 5vw;
	text-align: start;
	
}
#contact-text h1 {
	font-size: 5vw;
}

#contact-text p {
	font-size: 3.5vh;
	font-weight: 300;
	margin: 10px 0;
}



.story-text .paragraph1{
	margin-top: 3vh;
}

.story-text .paragraph2{
	margin-top: 3vh;
}

.story-text p{
font-size: 3.5vh;
	font-weight: 300;
}

.background-line {
	position: absolute;
	display: flex;
	width:  110%;
	margin-left: -7vw;
	overflow: hidden;
	
}

#contact-line {
	position: absolute;
	display: flex;
	width:  80%;
	z-index: -1;
	top: 5%;
	overflow: hidden;
	
}

#contact-line-2{
	position: absolute;
	display: flex;
	width:  40%;
	z-index: -1;
	right: 93.5%;
	top:16%;
	overflow: hidden;
}

#contact {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	
		justify-content: center;;
	margin: 5% auto;

	position: 
		relative;
	
}

#scrolling-target {
	    position: relative;
    padding: 15px;
    border-top: 1px solid transparent;
    margin-top: -50px;
	top:25px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#scrolling-target::before {
	 content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
}

#scrolling-target::after {
	 content: "";
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
}





#contact-left {
	display: grid;
	/*grid-template-areas: "mailbox-xs mailbox-sm mailbox-md"
						"contact-text contact-text contact-text";
*/
	justify-content: space-evenly;

	grid-template-rows: 40% 60%;
  grid-template-columns: 20% 30% 40%;
	
	
	
}

#contact-right{
	display: grid;
	overflow: hidden;
	
	
	
}

#contact-text {
	
/*	grid-area: "contact-text";*/
	grid-column: 1/4;

}

#mailbox-xs {
	max-width: 40%;
	grid-column: 1/2;
	transform: rotate(60deg) translate(0, 5vh);
/*	grid-area: "mailbox-xs";*/
}
#mailbox-sm {
	max-width: 55%;

	grid-column: 2/3;
	transform: rotate(180deg);
/*	grid-area: "mailbox-sm";*/
}
#mailbox-md {
	max-width: 80%;

	grid-column: 3/4;
	transform: rotate(30deg) translate(0, -5vh);
/*	grid-area: "mailbox-md";*/
}
#mailbox-xl {
	max-width: 100%;
}

#contact-right h1 {
	font-size: 2.8vw;
}
#contact-phone {
	position: relative;
	left: 20%;
	top: 10%;
}

#contact-address {
	position: relative;
	top: 10%;
}

#contact-email {
	position: relative;
	left: 20%;
	top: 20%;
}

footer {
	width: 100%;
	min-height: 3vh;
	padding: 0;
	background-color: #090C02;
	color: white;
	display: grid;
	grid-template-columns: 40% 20% 30% 5%;
	justify-content: center;
	align-items: center;
	overflow: hidden;

}
footer h1 {
	font-style: italic;
	margin: 0 3vw;
	font-size: 2vw;
}

#scroll-up-btn {
background: none;
	border:none;
	  outline:none;
}

#gtr-strings {
	width: 100%;
}


