@charset "utf-8";
/* CSS Document */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: Josefin Sans;
  max-height: 100%;
}
main {
  height: 100%;
}

/*intro*/
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #090c02;
  transition: 1s;
}
.intro-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 7;
}

.logo-intro {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.logo-intro.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-intro.fade {
  bottom: 150px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
/*NAV with GRID*/

.logo-text {
  font-family: "Marck Script", cursive;
  font-size: 3rem;
}

.nav {
  width: 100%;
  min-height: 10vh;
  padding: 20px 0;
  background-color: #090c02;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-100%);
}

.nav.slide-down {
  transform: translateY(0);
  transition: 0.6s ease-in-out;
}
.nav.loaded-down {
  transform: translateY(0);
}

.menu-btn {
  display: none;
}

.menu-btn div {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s ease;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  z-index: 5;
}

.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
}

/*Need to shift this thing somewhere, where it would be attached to logo*/
.nav .logo img {
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.menu {
  display: flex;
}

.menu li {
  display: inline;
  margin-left: 2rem;
  position: relative;
}

.menu li a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}
.menu li a:focus::before,
.menu li a:hover::before {
  transform: scaleX(1);
}

.menu a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.5rem;
}

.cool-link {
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}

/* NAV with GRID - END*/

#home {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "greeting-text title-img"
    "platform-promo title-img";
  align-items: center;
  margin: 10vh 0;
  justify-content: center;
}

.title-img {
  grid-area: title-img;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-img img {
  width: 75%;
  margin: 2% 0 0 0;
}

.content-wrapper {
  width: 100%;
}

.greeting-text {
  grid-area: greeting-text;
  width: 120%;
  height: 120%;
  position: relative;
  margin-top: -38.5%;
  margin-left: -7.8%;
}

.greeting-text h1 {
  font-size: 5rem;
  text-align: end;
}

.greeting-text p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40%;
  margin-top: 6%;
  font-size: 1.5rem;
}

.content-wrapper img {
  position: relative;
  width: 110%;
  overflow: hidden;
  opacity: 0.9;
}

.platform-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10rem;
}

.platform-promo p {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
}

.social-buttons {
  margin-top: 1.5rem;
}
.platform-promo .social-buttons a {
  margin-left: 2rem;
}
.platform-promo img {
  max-height: 2.5rem;
}

#story {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 15%;
  grid-template-areas:
    "inside-studio  story-text"
    "inside-studio  tangled-cords";
  align-items: center;
  justify-content: center;
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.inside-studio {
  grid-area: inside-studio;
  width: 110%;
  position: relative;
  bottom: 2rem;
  opacity: 0;
  transform: translateY(-1%);
}

.inside-studio.fade-in-from-top {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-in-out;
}

.tangled-cords.fade-in-from-right,
.story-text.fade-in-from-right {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out 0.5s, opacity 0.8s ease-in-out 0.5s;
}

.story-text {
  grid-area: story-text;
  width: 100%;
  position: relative;
  align-self: flex-start;
  opacity: 0;
  transform: translateX(1%);
}

.tangled-cords {
  grid-area: tangled-cords;
  width: 100%;
  position: relative;
  right: 3vw;
  bottom: 3rem;
  align-self: flex-start;
  opacity: 0;
  transform: translateX(1%);
}

.story-text h1 {
  font-size: 4rem;
  text-align: start;
}

.story-text .paragraph1 {
  margin-top: 3vh;
}

.story-text .paragraph2 {
  margin-top: 3vh;
}

.story-text p {
  font-size: 1.5rem;
  font-weight: 300;
}

#contact-text h1 {
  font-size: 4rem;
}

.background-line {
  position: absolute;
  width: 110%;
  overflow: hidden;
  bottom: 5rem;
  opacity: 0;
}

.background-line.fade-in-from-top {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#contact-line {
  position: absolute;
  display: flex;
  width: 80%;
  z-index: -1;
  top: 5%;
  overflow: hidden;
  opacity: 0;
}

#contact-line.fade-in-from-top {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#contact {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  margin: 5% auto;
  position: relative;
}

#scrolling-target {
  position: relative;
  padding: 15px;
  border-top: 1px solid transparent;
  margin-top: -50px;
  top: 25px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#scrolling-target::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  border-top: 1px solid transparent;
}

#scrolling-target::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  border-top: 1px solid transparent;
}

#contact-left {
  display: grid;
  /*grid-template-areas: "mailbox-xs mailbox-sm mailbox-md"
						"contact-text contact-text contact-text";
*/
  justify-content: space-evenly;

  grid-template-rows: 40% 60%;
  grid-template-columns: 20% 30% 40%;
}

#contact-right {
  display: grid;
  overflow: hidden;
  opacity: 0;
  transform: translate(40px, 0);
}

#contact-right.fade-in-from-right {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.6s ease-in-out 1.3s, opacity 0.6s ease-in-out 1.3s;
}

#contact-line-2 {
  position: absolute;
  display: flex;
  width: 40%;
  z-index: -1;
  right: 93.5%;
  top: 14%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-20px, 0);
}

#contact-text {
  grid-column: 1/4;
  align-self: flex-start;
  opacity: 0;
  transform: translate(-20px, 0);
}

#contact-text.fade-in-from-left,
#contact-line-2.fade-in-from-left {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.6s ease-in-out 1.3s, opacity 0.6s ease-in-out 1.3s;
}

#mailbox-xs {
  max-width: 40%;
  grid-column: 1/2;
  transform: translate(-30px, 1vh);
  opacity: 0;
}
#mailbox-xs.fly-rotating-from-left {
  transform: translate(0, 1vh) rotate(60deg);
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

#mailbox-sm {
  max-width: 55%;
  opacity: 0;
  grid-column: 2/3;
  transform: translate(-30px, 0) rotate(160deg);
}

#mailbox-sm.fly-rotating-from-left {
  transform: translate(0, 0) rotate(180deg);
  opacity: 1;
  transition: all 0.6s ease-in-out 0.5s;
}

#mailbox-md {
  max-width: 80%;
  grid-column: 3/4;
  transform: rotate(10deg) translate(-30px, -5vh);
  opacity: 0;
}

#mailbox-md.fly-rotating-from-left {
  transform: translate(0, -5vh) rotate(30deg);
  opacity: 1;
  transition: all 0.5s ease-in-out 0.8s;
}

#mailbox-xl {
  max-width: 100%;
  transform: translate(-30px, 0) rotate(-20deg);
  opacity: 0;
}

#mailbox-xl.fly-rotating-from-left {
  transform: translate(0, 0) rotate(0);
  opacity: 1;
  transition: all 0.4s ease-in-out 1s;
}

#contact-right h1 {
  font-size: 2.5rem;
}

.contact-details {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 0;
}

#contact-phone {
  position: relative;
  left: 20%;
  top: 10%;
}

#contact-address {
  position: relative;
  top: 10%;
}

#contact-email {
  position: relative;
  left: 20%;
  top: 20%;
}

footer {
  width: 100%;
  height: 17vh;
  padding: 0;
  background-color: #090c02;
  color: white;
  display: grid;
  grid-template-columns: 40% 20% 30% 5%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
footer h1 {
  font-style: italic;
  margin: 0 3vw;
  font-size: 2rem;
}

#legal-notice {
  font-size: 1rem;
  line-height: 150%;
}

#scroll-up-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#gtr-strings {
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 560px) {
  .text-block {
    font-size: calc(0.8vh + 2 vw);
  }

  .mask-l-r {
    height: 25%;
    right: 20%;
    top: 35.5%;
    width: 70%;
  }
}

@media screen and (max-width: 1376px) {
  .greeting-text h1 {
    font-size: 4rem;
  }

  .platform-promo p {
    font-size: 1.5rem;
  }

  .contact-details {
    font-size: 1rem;
  }
  .story-text p {
    font-size: 1rem;
  }
  #contact-line-2 {
    top: 15%;
  }
}
@media screen and (max-width: 1100px) {
  #home {
    margin: 5vh 0 0 0;
  }
  .greeting-text h1 {
    margin-left: 2rem;
  }

  .greeting-text p {
    font-size: 1rem;
  }

  .platform-promo {
    margin-top: 5rem;
  }

  .platform-promo p {
    font-size: 1rem;
  }
  .menu a {
    font-size: 1rem;
  }

  .logo-text {
    font-size: 2rem;
  }
  .nav .logo img {
    width: 50px;
    height: 50px;
  }

  .platform-promo img {
    max-height: 2rem;
  }
  .story-text h1 {
    font-size: 3rem;
  }

  #contact-text h1 {
    font-size: 3rem;
  }
  #contact-right h1 {
    font-size: 2rem;
  }

  footer h1 {
    font-size: 1.5rem;
  }
  .platform-promo .social-buttons a {
    margin-left: 1rem;
  }
  .social-buttons img {
    max-height: 1.5rem;
  }

  #story {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5%;
    grid-template-areas:
      "inside-studio  story-text"
      "inside-studio  tangled-cords";
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    margin-top: 5%;
    position: relative;
    overflow: hidden;
  }

  .inside-studio {
    grid-area: inside-studio;
    width: 100%;
    position: relative;

    align-self: flex-end;
  }

  .story-text {
    grid-area: story-text;
    width: 100%;
    position: relative;
    align-self: flex-start;
  }

  .tangled-cords {
    grid-area: tangled-cords;
    width: 90%;
    position: relative;
    right: 3vw;
    bottom: 2rem;
    align-self: flex-start;
  }
  .background-line {
    bottom: 0;
  }
}

@media screen and (max-width: 950px) {
  .tangled-cords {
    right: 2vw;
    bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .inside-studio {
    top: 0.2rem;
  }
  .tangled-cords {
    right: 2vw;
    bottom: 0;
  }
  #contact-text h1 {
    font-size: 2rem;
  }
  #contact-right h1 {
    font-size: 1.5rem;
  }

  #contact {
    margin-top: 15%;
  }

  .story-text h1 {
    font-size: 2rem;
  }
  #scrolling-target {
    padding: 0;
  }
  footer h1 {
    font-size: 1rem;
  }
  #legal-notice {
    font-size: 0.75rem;
    line-height: 150%;
  }
}

@media screen and (max-width: 650px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  /* header,
  nav {
    position: relative;
    z-index: 5;
    transition: 1s ease;
  }

  main {
    position: relative;
  }

  .sticky {
    position: fixed;
    width: 100%;
    top: 0;
    transition: 1s ease;
  } */

  .heroImgAddMargin {
    margin-top: 50px;
  }

  .nav {
    padding: 0;
    position: fixed;
  }
  .menu {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    background: #090c02;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    /* display: none; */
  }

  .toggle .menu-btn_line1 {
    transform: rotate(-45deg) translate(-8px, 10px);
  }
  .toggle .menu-btn_line2 {
    opacity: 0;
  }
  .toggle .menu-btn_line3 {
    transform: rotate(45deg) translate(-8px, -10px);
  }
  .menu-active {
    transform: translateX(0%);
    /* display: flex; */
  }

  .menu li {
    opacity: 0;
  }
  .menu a {
    font-size: 1.5rem;
  }

  .menu-btn {
    display: block;
  }
  #home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-img"
      "greeting-text"
      "platform-promo";
    align-items: center;
    justify-content: center;
    margin: 70px 0 0;
    grid-gap: 0;
    padding: 0;
  }

  .title-img img {
    width: 100%;
    margin: 0;
    filter: brightness(80%);
    z-index: -1;
  }
  .content-wrapper {
    margin-top: -40%;
    z-index: 0;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    );

    padding: 4rem 0;
  }
  .content-wrapper img {
    position: relative;
    width: 100%;
    overflow: hidden;
    opacity: 1;
  }
  .greeting-text {
    grid-area: greeting-text;
    width: 100%;
    height: 120%;
    position: relative;
    margin: 0;
    margin-top: -35%;
  }
  .greeting-text h1 {
    text-align: center;
    margin: 0;
  }

  .platform-promo {
    align-items: center;
    margin: 6rem 0 4rem;
  }
  .platform-promo p {
    font-size: 1.5rem;
  }

  .social-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 20rem;
  }

  .social-buttons img {
    max-height: 2rem;
  }

  #story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  .tangled-cords {
    display: none;
  }
  .story-text {
    position: initial;
    margin: 5% 5% 10% 5%;
    width: 90%;
  }

  #contact {
    display: grid;
    grid-template-columns: 45% 40%;
    justify-content: center;
    margin: 5% auto;
    align-items: center;
    position: relative;
  }

  #contact-line {
    display: none;
  }

  #mailbox-sm,
  #mailbox-md,
  #mailbox-xs {
    display: none;
  }
  #contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;
  }

  #contact-right {
    grid-column: 1/3;
    transform: translate(-40px, 0);
  }

  #contact-phone {
    position: relative;
    left: auto;
    top: auto;
  }
  #contact-address {
    position: relative;
    top: auto;
  }
  #contact-email {
    position: relative;
    left: auto;
    top: auto;
  }

  #mailbox-sm {
    display: block;
    position: absolute;
    transform: translate(19rem, 17rem) rotate(20deg);
  }

  #mailbox-sm.fly-rotating-from-left {
    transform: translate(17rem, 15rem) rotate(0);
    opacity: 1;
    transition: all 0.6s ease-in-out 0.3s;
  }

  #mailbox-xl {
    max-width: 100%;
    transform: translate(30px, 2rem) rotate(10deg);
    opacity: 0;
  }

  #mailbox-xl.fly-rotating-from-left {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
    transition: all 0.4s ease-in-out 0.6s;
  }
  #gtr-strings {
    width: 300%;
    transform: translateX(-5rem);
  }
}

@media screen and (max-width: 520px) {
  .greeting-text h1 {
    font-size: 3rem;
  }

  #mailbox-sm {
    transform: translate(16rem, 13rem);
  }
  #gtr-strings {
    width: 300%;
  }
  .logo-text {
    font-size: 1.5rem;
  }
  .nav .logo {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 520px) {
  #contact-line-2 {
    display: none;
  }

  #contact {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 35% 25%;
    justify-content: center;
    margin: 5% auto;
    align-items: center;
  }

  #contact-middle {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  #contact-left {
    grid-column: 1;
    grid-row: 2;
    margin: 0 1rem 2rem 3rem;
    justify-content: flex-start;
    align-self: flex-end;
  }
  #contact-text {
    width: 90%;
  }
  #contact-right {
    grid-column: 1;
    grid-row: 3;
  }

  #mailbox-xl {
    max-width: 80%;
    align-self: center;
    justify-self: center;
    transform: rotate(20deg);
    top: 2rem;
    position: relative;
  }

  #contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 450px) {
  #contact-middle {
    margin-top: 2rem;
  }
  .content-wrapper {
    margin-top: -50%;
  }
  #home {
    margin-top: 50px;
  }
  .platform-promo {
    align-items: center;
    margin: 3rem 0 3rem;
  }

  footer {
    width: 100%;
    height: 18vh;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  footer h1 {
    font-style: italic;
    margin: 1.5rem 0 0 4rem;
  }

  #legal-notice {
    font-size: 0.5rem;
    line-height: 150%;
    margin: 1.5rem 0 0 4rem;
  }

  #gtr-strings {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
  }
  #scroll-up-btn {
    position: absolute;
    right: 2rem;
    transform: translateY(50%);
    bottom: 50%;
  }

  #scroll-up-btn svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 400px) {
  .greeting-text h1 {
    font-size: 2.5rem;
  }
  .platform-promo p {
    font-size: 1.2rem;
  }

  #contact-right h1 {
    font-size: 1.2rem;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
